# -r requirements.txt
# -r requirements.doc.txt

setuptools_scm

python-lsp-ruff
python-lsp-server
pylsp-mypy
pylsp-rope
python-lsp-isort
python-lsp-black

# qgis-stubs @ git+https://github.com/leonhard-s/qgis-stubs.git
